/* General Header Styling */
.header {
    padding: 15px; /* Clean up padding */
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    z-index: 10;
}

/* Left-side site name */
.site-name {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.site-name a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

/* Search box container */
.input-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Input styling */
input.search-box {
    width: 80%;
    height: 35px;
    border: 1px solid #607d8b80;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.search-box:focus {
    outline: none;
    border: 2px solid #4CAF50;
}

/* Button styling */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Responsive Search Box */
@media screen and (max-width: 768px) {
    .input-box {
        flex-direction: column;
        align-items: center;
    }

    input.search-box {
        width: 90%;
        margin-bottom: 10px;
    }

    button {
        width: 90%;
    }
}
