.header{
    padding: 0px, 15px;
    position: sticky;

}
.sidebar{
    padding-right: 10px;
}
.header-middle-items{
    width: 100%;
}
.input-box{
    width: 100%;
    padding: 0px 20px;
}
input.search-box{
    width: 80%;
    height: 35px;
    border: 1px solid #607d8b80;
    margin: 0px 10px;
    padding: 0px 10px;
    float: right;
}
.search-box{
    width: 20px;
    height: 20px;
    right: 1%;
    top: 0%;
    border-left: 1px solid #607d8b80;
    float: right;
}
.site-name{
    text-decoration: none;
}
.site-name a{
    text-decoration: none;
    color: white;
    background-color: black;
    text-decoration-style: none;

}
.w3-container{
    padding-top: 10%;
    padding-right: 5px;
}