.videos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 20px; /* Space between items */
}

.video-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    text-align: center;
}
.video-item:hover{
    background-color: lightgray;

}
.video-thumbnail {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
}

.video-title {
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #555;
}
