.videos_list{
    justify-content: center;
}
.description{
    font-size: 75%;
}
.video-title{
    color: black;
}
.video-thumbnail{
    align-items: center;
}
.video-item{
    width: 75%;
    margin: 25px; /* Space between videos */
    position: static;
    background-color: gray;
    align-items: center;
}
.video-description{
    align-items: left;
    text-align: left;
}
.video-item:hover{
    background-color: lightgray;
}
ul {
    margin: 0 auto;
    text-align: left;
    columns: 3;
    
}

li {
    display: inline-block;
    vertical-align: top;
}